In [1]:
import numpy as np
import pandas as pd
import seaborn as sb

In [2]:
city_data = pd.read_csv('raw_data/city_data.csv')
riders_data = pd.read_csv('raw_data/ride_data.csv')

In [3]:
city_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 3 columns):
city            126 non-null object
driver_count    126 non-null int64
type            126 non-null object
dtypes: int64(1), object(2)
memory usage: 3.0+ KB

In [4]:
riders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 4 columns):
city       2375 non-null object
date       2375 non-null object
fare       2375 non-null float64
ride_id    2375 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 74.3+ KB

In [5]:
combined = pd.merge(city_data, riders_data,on ="city",how='outer')

In [7]:
combined.head()

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [19]:
#city =  combined.groupby(['city','date']).sum()['fare']
city =  combined.groupby(['city','date','fare','ride_id','driver_count','type'])

city.head()

,city,driver_count,type,date,fare,ride_id
0,Kelseyland,63,Urban,2016-08-19 04:27:52,5.51,6246006544795
1,Kelseyland,63,Urban,2016-04-17 06:59:50,5.54,7466473222333
2,Kelseyland,63,Urban,2016-05-04 15:06:07,30.54,2140501382736
3,Kelseyland,63,Urban,2016-01-25 20:44:56,12.08,1896987891309
4,Kelseyland,63,Urban,2016-08-09 18:19:47,17.91,8784212854829
5,Kelseyland,63,Urban,2016-10-24 15:15:46,33.56,4797969661996
6,Kelseyland,63,Urban,2016-06-06 13:54:23,20.81,9811478565448
7,Kelseyland,63,Urban,2016-08-10 07:02:40,44.53,1563171128434
8,Kelseyland,63,Urban,2016-07-05 17:37:13,29.02,6897992353955
9,Kelseyland,63,Urban,2016-04-25 02:18:31,20.05,1148374505062
10,Kelseyland,63,Urban,2016-01-25 08:47:09,9.29,213692794373
11,Kelseyland,63,Urban,2016-11-10 01:57:14,20.58,3395682132130
12,Kelseyland,63,Urban,2016-08-15 11:55:02,27.45,8456148871668
13,Kelseyland,63,Urban,2016-08-01 10:51:49,33.51,6610565660737
14,Kelseyland,63,Urban,2016-04-13 12:07:08,6.56,8101498434215
15,Kelseyland,63,Urban,2016-01-12 22:51:21,20.19,3054122642867
16,Kelseyland,63,Urban,2016-05-31 01:05:31,35.22,5946467060438
17,Kelseyland,63,Urban,2016-07-13 16:53:07,10.31,2180910323678
18,Kelseyland,63,Urban,2016-01-07 07:15:41,11.45,600800386573
19,Kelseyland,63,Urban,2016-04-09 13:17:27,27.85,5748868894243
20,Kelseyland,63,Urban,2016-06-30 01:59:04,8.27,4384089549855
21,Kelseyland,63,Urban,2016-04-20 05:36:59,31.67,2865704421982
22,Kelseyland,63,Urban,2016-05-02 05:55:28,40.92,2769007541388
23,Kelseyland,63,Urban,2016-06-22 06:54:57,12.58,6629798205387
24,Kelseyland,63,Urban,2016-06-18 06:03:03,16.77,7223504701591
25,Kelseyland,63,Urban,2016-01-09 20:28:56,27.21,831362906446
26,Kelseyland,63,Urban,2016-07-22 19:28:21,35.71,1234880130185
27,Kelseyland,63,Urban,2016-11-26 02:34:57,15.49,5187807155760
28,Nguyenbury,8,Urban,2016-07-09 04:42:44,6.28,1543057793673
29,Nguyenbury,8,Urban,2016-11-08 19:22:04,19.49,1702803950740
...,...,...,...,...,...,...
2377,East Leslie,9,Rural,2016-04-13 04:30:56,40.47,7075058703398
2378,East Leslie,9,Rural,2016-04-26 02:34:30,45.80,9402873395510
2379,East Leslie,9,Rural,2016-04-05 18:53:16,44.78,6113138249150
2380,East Leslie,9,Rural,2016-11-13 10:21:10,15.71,7275986542384
2381,East Leslie,9,Rural,2016-03-06 06:10:40,51.32,6841691147797
2382,East Leslie,9,Rural,2016-03-04 10:18:03,13.43,8814831098684
2383,East Leslie,9,Rural,2016-11-28 09:09:15,37.76,804829686137
2384,East Leslie,9,Rural,2016-09-08 19:19:38,30.59,8211833105097
2385,East Leslie,9,Rural,2016-03-02 22:09:34,36.61,5500269118478
2386,East Leslie,9,Rural,2016-06-22 07:45:30,34.54,684950063164
2387,Hernandezshire,10,Rural,2016-02-20 08:17:32,58.95,3176534714830
2388,Hernandezshire,10,Rural,2016-06-26 20:11:50,28.78,6382848462030
2389,Hernandezshire,10,Rural,2016-01-24 00:21:35,30.32,7342649945759
2390,Hernandezshire,10,Rural,2016-03-05 10:40:16,23.35,7443355895137
2391,Hernandezshire,10,Rural,2016-04-11 04:44:50,10.41,9823290002445
2392,Hernandezshire,10,Rural,2016-06-26 11:16:28,26.29,304182959218
2393,Hernandezshire,10,Rural,2016-11-25 20:34:14,38.45,2898512024847
2394,Hernandezshire,10,Rural,2016-11-20 17:32:37,26.79,3095402154397
2395,Hernandezshire,10,Rural,2016-02-24 17:30:44,44.68,6389115653382
2396,Horneland,8,Rural,2016-07-19 10:07:33,12.63,8214498891817
2397,Horneland,8,Rural,2016-03-22 21:22:20,31.53,1797785685674
2398,Horneland,8,Rural,2016-01-26 09:38:17,21.73,5665544449606
2399,Horneland,8,Rural,2016-03-25 02:05:42,20.04,5729327140644
2400,West Kevintown,5,Rural,2016-11-27 20:12:58,12.92,6460741616450
2401,West Kevintown,5,Rural,2016-02-19 01:42:58,11.15,8622534016726
2402,West Kevintown,5,Rural,2016-03-11 09:03:43,42.13,4568909568268
2403,West Kevintown,5,Rural,2016-06-25 08:04:12,24.53,8188407925972
2404,West Kevintown,5,Rural,2016-07-24 13:41:23,11.78,2001192693573
2405,West Kevintown,5,Rural,2016-06-15 19:53:16,13.50,9577921579881
2406,West Kevintown,5,Rural,2016-02-10 00:50:04,34.69,9595491362610

In [15]:
city_driver = pd.pivot_table(combined, index='city', columns=['date','fare','ride_id','driver_count','type'], values='fare', aggfunc = np.sum)
city_driver

Empty DataFrame
Columns: []
Index: []